@use 'sass:color';

//Table container
// this helps to keep the table from overflowing its container
.fe-table-container {
  width: 100%;
  overflow-x: auto;
}

//Simple table
.fe-simple-table {
  @include table-styles;
}

//Striped table
.fe-zebra-table {
  @include table-styles;

  tr:nth-child(even) {
    background-color: color.adjust($fe-clr-secondary, $lightness: 30%);
  }
}