//Mixin for table styles
@use 'sass:color';

@mixin table-styles {
  width: 100%;
  border-collapse: collapse;
  display: block;

  th, td {
    border: 1px solid $fe-clr-dark;
    padding: $fe-spacing-xs * 2 $fe-spacing-xs * 5;
    text-align: center;
  }

  th {
    background-color: $fe-clr-dark ; 
    color:$fe-clr-light;
    text-align: left;
  }
}

//Simple table
.fe-simple-table {
  @include table-styles;
}

//Zebra-striped table
.fe-zebra-table {
  @include table-styles;

  tr:nth-child(even) {
    background-color: color.adjust($fe-clr-secondary, $lightness: 30%);
  }
}