
table {
  width: 100%;
  border-collapse: collapse;
  // margin: $spacing-md;
  th,
  td {
    border-color: $color-dark;
  }

  .stripe {
    tr:nth-child(odd) td {
      background-color: $color-light;
    }
  }
}
